In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv('Delhi_v2.csv')
raw

,index,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
0,0,5600000,"Noida Extension, Noida, Delhi NCR",1350,28.608850,77.460560,3,3,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Welcome ...,4148.148148
1,1,8800000,"Sector 79, Gurgaon, Delhi NCR",1490,28.374236,76.952416,3,3,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,NaN,Flat,\n\n\n Mapsko M...,5906.040268
2,2,16500000,"Vaishali, Ghaziabad, Delhi NCR",2385,28.645769,77.385110,4,5,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,NaN,Flat,\n\n\n This pro...,6918.238994
3,3,3810000,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050,28.566914,77.436434,2,2,3.0,NaN,New Property,1.0,Unfurnished,2.0,near Gaur Mulberry Mansion,Flat,\n\n\n AIG Roya...,3628.571429
4,4,6200000,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350,28.520732,77.356491,2,2,3.0,Ready to Move,Resale,1.0,NaN,3.0,NaN,Flat,\n\n\n The prop...,4592.592593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7733,7733,7900000,"Indirapuram, Ghaziabad, Delhi NCR",1095,28.635272,77.370395,2,2,NaN,Ready to Move,Resale,NaN,NaN,NaN,NaN,Flat,\n \n \n...,7214.611872
7734,7734,4510000,"Greater Noida, Sector 2, Greater Noida, Delhi NCR",1060,28.581431,77.452819,2,2,3.0,NaN,Resale,NaN,Semi-Furnished,NaN,ek murti chowk,Flat,\n \n \n...,4254.716981
7735,7735,7000000,"Crossings Republik, Ghaziabad, Delhi NCR",1898,28.625850,77.435336,4,3,5.0,Ready to Move,Resale,NaN,NaN,NaN,NaN,Flat,\n \n \n...,3688.092729
7736,7736,6500000,"Raj Nagar Extension, Ghaziabad, Raj Nagar Exte...",1400,28.701622,77.430153,3,3,2.0,Ready to Move,Resale,1.0,NaN,3.0,vvip mall,Flat,\n \n \n...,4642.857143
7737,7737,6500000,"sandal apartment, Shalimar Garden Extension 1,...",1750,28.693590,77.344376,3,2,3.0,Ready to Move,New Property,NaN,NaN,NaN,NaN,Flat,\n,3714.285714

In [3]:
raw.isnull().sum()

index                  0
price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Balcony             2572
Status               574
neworold               0
parking             5126
Furnished_status    3614
Lift                6005
Landmarks           4979
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [4]:
data = raw.copy()

In [5]:
data.dropna(subset=['Status'], inplace=True)
# data.dropna(subset=['Landmarks'], inplace=True)
# data.dropna(subset=['Furnished_status'], inplace=True)

In [6]:
data.isnull().sum()

index                  0
price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Balcony             2318
Status                 0
neworold               0
parking             4724
Furnished_status    3608
Lift                5519
Landmarks           4537
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [15]:
want_to_drop = ['Landmarks','Furnished_status','desc']
data_1 = data.drop(want_to_drop, axis=1)

In [16]:
data_1.reset_index()

,level_0,index,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Lift,type_of_building,Price_sqft
0,0,0,5600000,"Noida Extension, Noida, Delhi NCR",1350,28.608850,77.460560,3,3,NaN,Under Construction,New Property,NaN,2.0,Flat,4148.148148
1,1,1,8800000,"Sector 79, Gurgaon, Delhi NCR",1490,28.374236,76.952416,3,3,NaN,Ready to Move,New Property,NaN,2.0,Flat,5906.040268
2,2,2,16500000,"Vaishali, Ghaziabad, Delhi NCR",2385,28.645769,77.385110,4,5,NaN,Ready to Move,New Property,1.0,NaN,Flat,6918.238994
3,4,4,6200000,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350,28.520732,77.356491,2,2,3.0,Ready to Move,Resale,1.0,3.0,Flat,4592.592593
4,5,5,3700000,"tower 2, 6th floor, Crossings Republik, Ghazia...",1150,28.628040,77.437809,2,2,3.0,Ready to Move,New Property,NaN,NaN,Flat,3217.391304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7159,7732,7732,6200000,"Sector137 Noida Paramount Floraville, Sector 1...",1045,28.509208,77.406626,2,2,4.0,Ready to Move,Resale,1.0,2.0,Flat,5933.014354
7160,7733,7733,7900000,"Indirapuram, Ghaziabad, Delhi NCR",1095,28.635272,77.370395,2,2,NaN,Ready to Move,Resale,NaN,NaN,Flat,7214.611872
7161,7735,7735,7000000,"Crossings Republik, Ghaziabad, Delhi NCR",1898,28.625850,77.435336,4,3,5.0,Ready to Move,Resale,NaN,NaN,Flat,3688.092729
7162,7736,7736,6500000,"Raj Nagar Extension, Ghaziabad, Raj Nagar Exte...",1400,28.701622,77.430153,3,3,2.0,Ready to Move,Resale,1.0,3.0,Flat,4642.857143
7163,7737,7737,6500000,"sandal apartment, Shalimar Garden Extension 1,...",1750,28.693590,77.344376,3,2,3.0,Ready to Move,New Property,NaN,NaN,Flat,3714.285714

In [28]:
data_1.fillna(0, inplace=True)
data_1

,index,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Lift,type_of_building,Price_sqft
0,0,5600000,"Noida Extension, Noida, Delhi NCR",1350,28.608850,77.460560,3,3,0.0,Under Construction,New Property,0.0,2.0,Flat,4148.148148
1,1,8800000,"Sector 79, Gurgaon, Delhi NCR",1490,28.374236,76.952416,3,3,0.0,Ready to Move,New Property,0.0,2.0,Flat,5906.040268
2,2,16500000,"Vaishali, Ghaziabad, Delhi NCR",2385,28.645769,77.385110,4,5,0.0,Ready to Move,New Property,1.0,0.0,Flat,6918.238994
4,4,6200000,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350,28.520732,77.356491,2,2,3.0,Ready to Move,Resale,1.0,3.0,Flat,4592.592593
5,5,3700000,"tower 2, 6th floor, Crossings Republik, Ghazia...",1150,28.628040,77.437809,2,2,3.0,Ready to Move,New Property,0.0,0.0,Flat,3217.391304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7732,7732,6200000,"Sector137 Noida Paramount Floraville, Sector 1...",1045,28.509208,77.406626,2,2,4.0,Ready to Move,Resale,1.0,2.0,Flat,5933.014354
7733,7733,7900000,"Indirapuram, Ghaziabad, Delhi NCR",1095,28.635272,77.370395,2,2,0.0,Ready to Move,Resale,0.0,0.0,Flat,7214.611872
7735,7735,7000000,"Crossings Republik, Ghaziabad, Delhi NCR",1898,28.625850,77.435336,4,3,5.0,Ready to Move,Resale,0.0,0.0,Flat,3688.092729
7736,7736,6500000,"Raj Nagar Extension, Ghaziabad, Raj Nagar Exte...",1400,28.701622,77.430153,3,3,2.0,Ready to Move,Resale,1.0,3.0,Flat,4642.857143
7737,7737,6500000,"sandal apartment, Shalimar Garden Extension 1,...",1750,28.693590,77.344376,3,2,3.0,Ready to Move,New Property,0.0,0.0,Flat,3714.285714

In [30]:
data_1.to_csv('Delhi houses_2', index=False)